<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
       <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
         <rewrite>
            <rules>
                <rule name="Yii2 Routing that works" enabled="true" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
        <tracing>
            <traceFailedRequests>
                <remove path="*" />
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="200-399" />
                </add>
            </traceFailedRequests>
        </tracing>
     </system.webServer>
</configuration>
